<!DOCTYPE html>
<html>
<body>
  <p>Hi {{recipientName}},</p>
  <p>The document <strong>{{documentTitle}}</strong> has been <strong>approved</strong>.</p>
  {{#if approvedBy}}
  <p>Approved by: {{approvedBy}}</p>
  {{/if}}
  <p><a href="{{reviewUrl}}">View document</a></p>
</body>
</html>
